body.active_admin {

  .permissions-table {
    width: inherit;

    th { background: none; }

    .permission-row-title {
      width: 150px;
      cursor: pointer;
    }
    .permission-column-title {
      width: 70px;
      cursor: pointer;
    }

  }

}
